body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(96, 85, 85);
  color: #fff;
}
.container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  
}
.form{
  justify-content: center;
  align-items: center;
  background-color: #ffffffd7;
  width: 500px;
  height: 750px;
  color:rgb(96, 85, 85); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
input:not(#term){
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 40px;
  width: 400px;
border:none;
margin-bottom: 12px;
border-bottom: 3px solid lightgray;

}

label:not(#term) {
  
  display: block; /* input'tan ayrı satıra geçmesini sağlar */

}
.title{
  font-size: 30px;
  margin-bottom: 30px;
}
input[type="checkbox"] {
  accent-color:rgb(96, 85, 85); /* istediğin rengi yaz */
}
.savebtn{
  height: 40px;
  width: 400px;
  background-color: rgb(96, 85, 85);
  color: #fff;
  margin-top: 30px;
}
.form-group{

  position: relative;
}
.input-error{
  font-size: 15px;
  color: rgb(203, 34, 34);
  height: 10px;
}
